@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Museo-Sans-300';
  src: url('./Assets/Fonts/Museo_Sans_W01_Rounded_300.ttf')
}

@font-face {
  font-family: 'Museo-Sans-900';
  src: url('./Assets/Fonts/Museo_Sans_W01_Rounded_900.ttf')
}

* {
  margin: 0px;
  padding: 0px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  font-family: 'Museo-Sans-300';
}

body {
  background: linear-gradient(white, #d6d3d1);
  min-height: 100vh;
  min-width: 100%;
}

.btn{
  margin-right: 25px;
}

#login{
  margin-top: 100px;
}
 
section{
  margin-top: 50px;
}